@using StuSherwin.Poco 
@model IEnumerable<Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var post in Model) {
    <h1 id="@post.Id">@post.Title</h1>
    <div class="post-date">@post.Published</div>
    @Html.Raw(post.Body)
    <div class="post-info">@Html.ActionLink(post.Comments.Count() + " comments", "Display", new { id = post.Id })</div>
}
