@using StuSherwin.Mvc.Core
@model StuSherwin.Mvc.Models.Shared.Layout
@{
    Func<bool, string, string, string, object, HelperResult> linkLi =
        (cond, text, act, cont, rv) =>
        @Html.ActionLinkIf(
                cond,
                text,
                act, cont, rv,
                @<li>@item</li>,
                @<li class="selected">@item</li>);
}
@if (Model.Category == "Code")
{
    <li id="code" class="selected">
        <div></div>
        <h2>Code</h2>
        <p>My discoveries in trying to write better software</p>
        <ul>
            @linkLi(
                Model.Page != null || Model.PostCode != null,
                "All posts",
                "Index", "Post", new { category = "Code" })
            @*@linkLi(
                Model.Page != "CV",
                "Curriculum vitae",
                "CV", "Code", new { })*@
        </ul>
    </li>
}
else
{
    <li id="code">
        <a href="@Url.Action("Index", "Post", new { category = "Code" })">
            <div></div>
            <h2>Code</h2>
            <p>My discoveries in trying to write better software</p>
        </a>
    </li>    
}