@using StuSherwin.Model 
@model IEnumerable<Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Post.cshtml";
}

@foreach (var post in Model) {
    <h1 id="@post.Id">@post.Title</h1>
    <div class="post-date">@(post.Published.HasValue? post.Published.Value.ToLongDateString() : "")</div>
    <div class="post-body">@Html.Raw(post.Body)</div>
    <div class="post-info">@Html.ActionLink(post.Comments.Count() + " comments", "Display", new { id = post.Id })</div>
}

@if (!Model.Any())
{
    <p>There doesn't seem to be anything here.</p>
}
